/*CSS Reset------*/

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }

/*General section starts---*/
body {
    --text-gray-light: #d4d4d4;
    --text-gray-dark: rgb(121, 119, 119);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
    color: hsl(192, 100%, 9%)
}

h3 {
    font-weight: 1000;
    font-size: 1.5rem;
}

p {
    font-family: "Open Sans";
    line-height: 1.7rem;
}
/*General section Ends---*/


/*Top section Starts*/
.top {
    background-image: url(../huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
    background-color: hsla(180, 100%, 50%, 0.057);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 7%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation>img {
    height: auto;
    max-width: 35%;
}

.hero {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-top: 3%;
}

.hero-text {
    width: 37%;
}

.tabs-template {
    width: 58%;
}
/*Top section Ends------*/


/*Button and links section Starts--*/
[class*="button"] {
    cursor: pointer;
}

.navigation-button {
    height: 3rem;
    width: 10rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 5px grey;
    border: 0;
    background-color: white;
    font-weight: bold;
}

.navigation-button:hover {
    color: grey;
}

.start-button {
    background-color:blueviolet;
    color: white;
    font-weight: bold;
    height: 3rem;
    width: 15rem;
    border-radius: 1.5rem;
    border: 0;
}

.ready-section button {
    font-size: 1.1rem;
    font-weight: bold;
    height: 4rem;
    width: 20rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px grey;
    border: 0;
}

.start-button:hover, .ready-section>button:hover {
    background-color:hsla(271, 76%, 53%, 0.451);
}

.navigation-bottom a:hover {
    text-decoration: underline;
}

/*Button and links section Ends------*/


/*Benefits section Starts----*/
.sections {
    display: grid;
    margin-bottom: 15%;
}

.section {
    display: flex;
    justify-content: space-between;
    margin: 1.5% 4%;
    padding: 2%;
    box-shadow: 0 0 10px rgba(194, 193, 193, 0.406);
}

.s2 {
    flex-direction: row-reverse;
}

.section-text {
    margin: 5%;
    width: 40%;
}

.section-text p {
    color: var(--text-gray-dark);
}

.section img {
    width: 30%;
}
/*Benefits section Ends------*/


/*Ready-section Starts-----*/
.ready-section {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

.ready-section-child {
    position: absolute;
    padding: 2rem 5rem;
    top: -8rem;
    display: inline-block;
    box-shadow: 0 0 10px rgba(194, 193, 193, 0.406);
    background-color: white;
    text-align: center;
}

/*Ready-section Ends-------*/

/*Footer section Starts-----*/
footer{
    background-color: hsl(192, 100%, 9%);
    padding-top: 9%;
    padding-left: 7%;
    padding-right: 10%;
    padding-bottom: 4%;
    color: var(--text-gray-light)
}

footer>img {
    display: inline-block;
    filter: invert(100%) sepia(10%) saturate(32%) hue-rotate(292deg) brightness(89%) contrast(86%);
    padding: .5rem;
}

.flex-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-bottom>img {
    width: 3rem;
}

.contact-details{
    flex-basis: 40%;
    display: grid;
    grid-template-columns: 1fr 12fr;
}

.copyright {
    text-align: end;
}

.image-bottom {
    align-self: center;
}

.navigation-bottom {
    list-style-type: none;
}

.navigation-bottom a{
    color: var(--text-gray-light);
    text-decoration: none;
}

.navigation-bottom>li:not(:last-child) {
    margin-bottom: 2rem;
}
/*Footer section Ends-------*/


/*MOBILE SCREEN STARTS -----*/
@media only screen and (max-width: 640px) {

    /*General section starts mobile ---*/
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-weight: 1000;
        font-size: 1.1rem;
    }

    p {
        line-height: 1.4rem;
    }
    /*General section mobile Ends---*/


    /*Top section Starts mobile*/
    .top {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 4%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    .hero {
        flex-direction: column;
        gap: 5%;
        padding-top: 3%;
    }
  
    .hero-text h1 {
        margin: 10%;
    }

    .hero-text {
        width: 90%;
        text-align: center;
    }
    
    .tabs-template {
        width: 85%;
    }
    /*Top section Ends mobile*/


    /*Buttons section Starts mobile--*/
    .navigation-button {
        height: 2rem;
        width: 7rem;
        border-radius: 1rem;
        font-weight: bold;
        font-size: .8rem;
    }

    .start-button {
        letter-spacing: .08rem;
        margin: 1.5rem 0 4rem;
    }

    .ready-section button {
        font-size: .8rem;
        font-weight: normal;
        height: 2.8rem;
        width: 14rem;
        border-radius: 1.4rem;
        margin: 0;
    }
    /*Buttons section Ends mobile------*/

    /*Benefits section Starts mobile----*/
    .sections {
        margin-bottom: 8rem;
    }

    .section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 6% 5%;
        padding: 2%;
    }

    .section-text {
        margin: 5%;
        width: 80%;
        text-align: center;
    }

    .section img {
        width: 70%;
        margin: 4rem 0 2rem 0;
    }
    /*Benefits section Ends mobile------*/


    /*Ready-section Starts mobile-----*/
    .ready-section-child {
        padding: 2rem 1.5rem;
        top: -6rem;
        border-radius: 1rem;
    }
    /*Ready-section Ends mobile-------*/

    /*Footer section Starts mobile-----*/
    footer{
        display: flex;
        flex-direction: column;
        padding-top: 9rem;
        padding-left: 3%;
        padding-right: 5%;
        padding-bottom: 7%;
    }

    footer>img {
        padding-bottom: 1rem;
        max-width: 50%;
        height: auto;
    }

    .flex-bottom {
        display: flex;
        flex-direction: column;
    }

    .flex-bottom>img {
        width: 3rem;
    }

    .contact-details{
        grid-template-columns: 1fr 8fr;
    }

    .image-bottom {
        align-self: center;
    }

    .navigation-bottom>li:not(:last-child), .navigation-bottom {
        margin-bottom: 1rem;
    }
    /*Footer section Ends mobile-------*/
}
/*MOBILE SCREEN ENDS--------*/