/*CSS Reset------*/

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }

/*General section starts---*/
body {
    --gray-p: hsl(208, 11%, 55%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
    color: hsl(192, 100%, 9%)
}

h3 {
    font-weight: 1000;
    font-size: 1.5rem;
}

p {
    font-family: "Open Sans";
    line-height: 1.7rem;
}
/*General section Ends---*/


/*Top section Starts*/
.top {
    background-image: url(../huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
    background-color: hsla(180, 100%, 50%, 0.057);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 7%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-top: 3%;
}

.hero-text {
    width: 37%;
}

.tabs-template {
    width: 58%;
}
/*Top section Ends------*/


/*Button section Starts--*/
.navigation-button {
    height: 3rem;
    width: 10rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 5px grey;
    border: 0;
    background-color: white;
    font-weight: bold;
}

.start-button {
    background-color:blueviolet;
    color: white;
    font-weight: bold;
    height: 3rem;
    width: 15rem;
    border-radius: 1.5rem;
    border: 0;
}

.ready-section button {
    font-size: 1.1rem;
    font-weight: normal;
    height: 4rem;
    width: 20rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px grey;
    border: 0;
}
/*Button section Ends------*/


/*Benefits section Starts----*/
.sections {
    display: grid;
    margin-bottom: 15%;
}

.section {
    display: flex;
    justify-content: space-between;
    margin: 1.5% 4%;
    padding: 2%;
    box-shadow: 0 0 10px rgba(194, 193, 193, 0.406);
}

.s2 {
    flex-direction: row-reverse;
}

.section-text {
    margin: 5%;
    width: 40%;
}

.section-text p {
    color: var(--gray-p)
}

.section img {
    width: 30%;
}
/*Benefits section Ends------*/


/*Ready-section Starts-----*/
.ready-section {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

.ready-section-child {
    position: absolute;
    padding: 2rem 5rem;
    top: -8rem;
    display: inline-block;
    box-shadow: 0 0 10px rgba(194, 193, 193, 0.406);
    background-color: white;
    text-align: center;
}

/*Ready-section Ends-------*/

/*Footer section Starts-----*/
footer{
    background-color: hsl(192, 100%, 9%);
    padding-top: 9%;
    padding-left: 7%;
    padding-right: 10%;
    padding-bottom: 4%;
    color: rgb(211, 211, 211);
}

footer>img {
    display: inline-block;
    background-color: rgb(211, 211, 211);
    padding: .5rem;
    border-radius: .5rem;
}

.flex-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-bottom>img {
    width: 3rem;
}

.contact-details{
    flex-basis: 40%;
    display: grid;
    grid-template-columns: 1fr 12fr;
}

.copyright {
    text-align: end;
}

.image-bottom {
    align-self: center;
}
/*Footer section Ends-------*/